.primary-title-container {
  overflow: hidden;
  width: 100%;
  .primary-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    h1 {
      font-family: var(--primary-font-en);
      letter-spacing: 2.8px;
      position: relative;
      &::after {
        content: "";
        background-image: url("../../assets/underLine.webp");
        width: 100%;
        display: block;
        height: 10px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
