/*
*font faces
*/
@font-face {
  font-family: 'primaryEn';
  src: url('./fonts/primaryEn.otf');
  font-display: swap;
}
@font-face {
  font-family: 'secondaryEn';
  src: url('./fonts/secondaryEn.ttf');
  font-display: swap;
}
/**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #eb1426;
  --primary-yello: #ffd239;
  --primary-font-color: #fff;
  --secondary-font-color: #7b797a;
  --primary-font-en: "primaryEn";
  --secondary-font-en: "secondaryEn";
  --nav-bg: #101010;
  --footer-bg: #191919;
  --body-bg: #232323;
  --body-overlay: #171718;
}

html {
  width: 100%;
  background-color: var(--body-bg);
  color: var(--primary-font-color);

  background: -webkit-radial-gradient(
      closest-corner,
      rgb(18 17 17 / 5%) 60%,
      rgb(12 11 11 / 14%)
    ),
    -webkit-linear-gradient(108deg, #000000, #111112 90%);
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiZmBg6AZiDiBWZ4YyQMCOCcYA4kMAAQYAHyYCCUdxidgAAAAASUVORK5CYII=");

}

.primary {
  color: var(--primary-yello);
}
.hide {
  display: none;
}
.font-size-zero {
  font-size: 0;
}